/Users/songye03/Desktop/math_tex/allen.tex
/Users/songye03/Desktop/math_tex/dan.synctex.gz
/Users/songye03/Desktop/math_tex/dan.tex
/Users/songye03/Desktop/math_tex/liegroups.synctex.gz
/Users/songye03/Desktop/math_tex/liegroups.tex
/Users/songye03/Desktop/math_tex/quiver.sty
/Users/songye03/Desktop/math_tex/references.synctex.gz
/Users/songye03/Desktop/math_tex/references.tex
/Users/songye03/Desktop/math_tex/resume.synctex.gz
/Users/songye03/Desktop/math_tex/resume.tex
/Users/songye03/Desktop/math_tex/scribe.sty
/Users/songye03/Desktop/math_tex/tara.tex