/allen.tex
/dan.synctex.gz
/dan.tex
/liegroups.synctex.gz
/liegroups.tex
/quiver.sty
/references.synctex.gz
/references.tex
/resume.synctex.gz
/resume.tex
/scribe.sty
/tara.tex
/tara.synctex.gz
/.vscode
/.DS_Store