/allen.tex
/allen.synctex.gz
/dan.synctex.gz
/dan.tex
/liegroups.synctex.gz
/liegroups.tex
/quiver.sty
/references.synctex.gz
/references.tex
/realanalysis.synctex.gz
/realanalysis.tex
/realanalysis.pdf
/resume.synctex.gz
/resume.tex
/scribe.sty
/tara.tex
/tara.synctex.gz
/.vscode
/.DS_Store
/ml.pdf
/ml.synctex.gz
/ml.tex
/references.pdf


/.gz
/.tex